<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135603573348-6pbet5ijqnrb85iueb197orlvpm10dag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135603573348-6pbet5ijqnrb85iueb197orlvpm10dag</string>
	<key>API_KEY</key>
	<string>AIzaSyAfjfKbdYlzIo4i-O3TCuwe6HUEGrFneck</string>
	<key>GCM_SENDER_ID</key>
	<string>135603573348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.komaki.PushNotification</string>
	<key>PROJECT_ID</key>
	<string>tentenios</string>
	<key>STORAGE_BUCKET</key>
	<string>tentenios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135603573348:ios:d8b517656d85df43194571</string>
</dict>
</plist>